<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="icon" href="../assets/img/rent-02.png">
    <meta content="width=device-width initial-scale=1" name="viewport">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/bootstrap/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="../assets/fonts/css/all.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" id="theme-styles">
    <link rel="stylesheet" href="../assets/style/styles.css">

</head>
<body style="background-color: #fafaff;" class="container-fluid">

<!-- ======= Mobile nav toggle button ======= -->
<i id="option" class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!--Header-->
<header id="header">
    <div class="d-flex flex-column">
        <div class="profile">
            <h2 id="main-h2" class="text-center easy_car_rental">
                <a class="navbar-brand fw-bolder fs-2 position-relative" href="#">
                    <!--<img class="position-relative" src="../assets/img/rent-03.png">-->
                    <span id="easy" style="font-size: 36px;" class="text-success">Easy</span>
                    <span style="font-size: 23px; margin-left: -3px;">Car Rental</span></a>
            </h2>

            <h5 id="txtAdminPanel"><i class='bx bx-user-circle'></i> Admin Panel</h5>

            <hr class="w-100">
        </div>

        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li><a href="#" class="nav-link scrollto active"><i class="bx bx-home"></i>
                    <span class="animate__animated">Dashboard</span></a>
                </li>

                <li><a href="#" class="nav-link scrollto"><i class="bx bx-user"></i>
                    <span>Rental Requests</span></a></li>

                <li><a href="#" class="nav-link scrollto"><i class="bx bx-file-blank"></i>
                    <span>Manage Vehicle</span></a>
                </li>

                <li><a href="#" class="nav-link scrollto"><i class="bx bx-book-content"></i>
                    <span>Manage Bookings</span></a></li>

                <li><a href="#" class="nav-link scrollto"><i class="bx bx-server"></i>
                    <span>Manage Customer</span></a>
                </li>

                <li><a href="#" class="nav-link scrollto"><i class="bx bx-envelope"></i>
                    <span>Manage Driver</span></a>
                </li>

                <li><a href="#" class="nav-link scrollto"><i class="bx bx-envelope"></i>
                    <span>View Driver Schedule</span></a>
                </li>

                <li><a href="#" class="nav-link scrollto"><i class="bx bx-envelope"></i>
                    <span>View Car Schedule</span></a>
                </li>

                <li><a href="#" class="nav-link scrollto"><i class="bx bx-envelope"></i>
                    <span>Manage Payments</span></a>
                </li>

                <li><a href="#" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Income</span></a>
                </li>

                <li><a href="#" class="nav-link scrollto"><i class="bx bx-envelope"></i>
                    <span>Admin Profile</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<!--Admin Dashboard-->
<main id="adminDashboard" class="row">
    <div class="d-flex col-4">
        <h1>Registered Users</h1>
        <span>1</span>
    </div>

    <div class="d-flex col-4">
        <h1>Total Bookings</h1>
        <span>10</span>
    </div>

    <div class="d-flex col-4">
        <h1>Active Bookings</h1>
        <span>3</span>
    </div>

    <div class="d-flex col-4">
        <h1>Available Cars</h1>
        <span>15</span>
    </div>

    <div class="d-flex col-4">
        <h1>Reserved Cars</h1>
        <span>10</span>
    </div>

    <div class="d-flex col-4">
        <h1>Occupied Drivers</h1>
        <span>5</span>
    </div>

    <div class="d-flex col-4">
        <h1>Available Drivers</h1>
        <span>15</span>
    </div>

    <div class="d-flex col-4">
        <h1>Need To Maintenance</h1>
        <span>2</span>
    </div>

    <div class="d-flex col-4">
        <h1>Under Maintenance</h1>
        <span>0</span>
    </div>
</main>

<!--Manage Rental Requests-->
<main id="manageRentalRequests_section" class="admin-sections">
    <section class="row justify-content-start">
        <div class="col-xl-7 col-lg-9 col-md-11 col-12 justify-content-center">
            <h1 id="myProfileHeader">Manage Rental Requests <i class="fa-solid fa-list-check"></i></h1>
        </div>
    </section>

    <section class="row justify-content-center">
        <!--Manage Rental Requests Table-->
        <section class="d-flex flex-column h-50 col-11 col-xl-12 bg-white shadow-lg align-items-center
        pt-3 mt-4">
            <h3 class="text-center bg-primary p-2 text-light rounded-3 col-12 fs-4">Manage Rental Requests</h3>
            <div class="row h-60 col-12 col-lg-12 rounded-2 table-responsive">
                <table id="tblManageRentalRequests"
                       class="table table-striped table-hover rounded-5 mb-4 table-bordered">
                    <thead class="text-white green-hd" style="background: #17377f;">
                    <tr>
                        <th>Rent ID</th>
                        <th>Vehicle ID</th>
                        <th>Vehicle Name</th>
                        <th>Pick Up Date</th>
                        <th>Return Date</th>
                        <th style="padding-bottom: 20px;">Location</th>
                        <th>LDW Payment</th>
                        <th>Customer ID</th>
                        <th>Customer Name</th>
                        <th>Driver ID</th>
                        <th>Rent Status</th>
                        <th style="padding-bottom: 20px;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>R00-001</td>
                        <td>V001</td>
                        <td>Suzuki-Alto</td>
                        <td>2023-02-19</td>
                        <td>2023-02-22</td>
                        <td>Galle Town</td>
                        <td>Paid</td>
                        <td>C00-001</td>
                        <td>Nimal Bandara</td>
                        <td>D001</td>
                        <td><span class="badge rounded-pill text-bg-warning statusBadge">Pending</span></td>
                        <td>
                            <div class="btn-group btnGroups" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-success btnAccept">Accept</button>
                                <button type="button" class="btn btn-danger btnDeny">Deny</button>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>R00-001</td>
                        <td>V001</td>
                        <td>Suzuki-Alto</td>
                        <td>2023-02-19</td>
                        <td>2023-02-22</td>
                        <td>Galle Town</td>
                        <td>Paid</td>
                        <td>C00-001</td>
                        <td>Nimal Bandara</td>
                        <td>D001</td>
                        <td><span class="badge rounded-pill text-bg-warning statusBadge">Pending</span></td>
                        <td>
                            <div class="btn-group btnGroups" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-success btnAccept">Accept</button>
                                <button type="button" class="btn btn-danger btnDeny">Deny</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </section>
</main>

<!--Manage Vehicles Section-->
<main id="manageVehicle_section" class="admin-sections">
    <section class="row justify-content-start">
        <div class="col-xl-7 col-lg-9 col-md-11 col-12 justify-content-center">
            <h1 id="manageVehicleHeader">Manage Vehicle <i class="fa-solid fa-list-check"></i></h1>
        </div>
    </section>

    <section class="row justify-content-lg-center">
        <section class="col-xl-4 d-lg-flex d-md-flex justify-content-md-center justify-content-lg-center"
                 style="height: 372px;">
            <div id="manageVehicleCarousel" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#manageVehicleCarousel" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#manageVehicleCarousel" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#manageVehicleCarousel" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#manageVehicleCarousel" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/assets/img/alto_K10-front.png" class="d-block img-fluid" alt="...">
                    </div>

                    <div class="carousel-item">
                        <img src="/assets/img/alto_K10-back.png" class="d-block img-fluid" alt="...">
                    </div>

                    <div class="carousel-item">
                        <img src="/assets/img/alto_K10-interior.jpg" class="d-block img-fluid" alt="...">
                    </div>

                    <div class="carousel-item">
                        <img style="height: 320px; object-fit: contain;" src="/assets/img/alto_K10-side.png"
                             class="d-block img-fluid" alt="...">
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#manageVehicleCarousel"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#manageVehicleCarousel"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>

        <section class="col-xl-7 justify-content-center">
            <form id="manageVehicleForm" class="row g-3">
                <div class="col-md-4">
                    <label for="txtCarID" class="form-label">Car ID</label>
                    <input type="text" class="form-control" id="txtCarID">
                </div>

                <div class="col-md-4">
                    <label for="txtRegNo" class="form-label">Register Number</label>
                    <input type="text" class="form-control" id="txtRegNo">
                </div>

                <div class="col-md-4">
                    <label for="txtCarBrand" class="form-label">Brand</label>
                    <input type="text" class="form-control" id="txtCarBrand">
                </div>

                <!--<div class="col-md-4">
                    <label for="txtCarType" class="form-label">Type</label>
                    <input type="text" class="form-control" id="txtCarType">
                </div>-->

                <div class="col-md-4">
                    <label for="txtCarType" class="form-label">Vehicle Type</label>
                    <select id="txtCarType" class="form-select" aria-label="Default select example">
                        <option selected disabled>Select Vehicle Type</option>
                        <option value="1">General</option>
                        <option value="2">Premium</option>
                        <option value="3">Luxury</option>
                    </select>
                </div>

                <!--======================================-->

                <div class="col-md-4">
                    <label for="txtDailyRate" class="form-label">Daily Rate</label>
                    <input type="text" class="form-control" id="txtDailyRate">
                </div>

                <div class="col-md-4">
                    <label for="txtMonthlyRate" class="form-label">Monthly Rate</label>
                    <input type="text" class="form-control" id="txtMonthlyRate">
                </div>

                <div class="col-md-4">
                    <label for="txtDailyMileage" class="form-label">Free Km for a Day</label>
                    <input type="text" class="form-control" id="txtDailyMileage">
                </div>

                <div class="col-md-4">
                    <label for="txtMonthlyMileage" class="form-label">Free Km for a Month</label>
                    <input type="text" class="form-control" id="txtMonthlyMileage">
                </div>

                <!--========================================-->

                <div class="col-md-4">
                    <label for="txtCarColor" class="form-label">Color</label>
                    <input type="text" class="form-control" id="txtCarColor">
                </div>

                <div class="col-md-4">
                    <label for="txtTransmissionType" class="form-label">Transmission Type</label>
                    <select id="txtTransmissionType" class="form-select" aria-label="Default select example">
                        <option selected disabled>Select Transmission Type</option>
                        <option value="1">Manual</option>
                        <option value="2">Auto</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label for="txtNoOfPassengers" class="form-label">No of Passengers</label>
                    <input type="text" class="form-control" id="txtNoOfPassengers">
                </div>

                <div class="col-md-4">
                    <label for="txtFuelType" class="form-label">Fuel Type</label>
                    <select id="txtFuelType" class="form-select" aria-label="Default select example">
                        <option selected disabled>Select Fuel Type</option>
                        <option value="1">Diesel</option>
                        <option value="2">Petrol</option>
                    </select>
                </div>

                <!--==============================================-->

                <div class="col-md-4">
                    <label for="txtPricePerExtraKm" class="form-label">Price Per Extra Km</label>
                    <input type="text" class="form-control" id="txtPricePerExtraKm">
                </div>

                <div class="col-md-4">
                    <label for="txtLDWPayment" class="form-label">LDW Payment</label>
                    <input type="text" class="form-control" id="txtLDWPayment">
                </div>

                <div class="col-md-4">
                    <label for="txtLastServiceMileage" class="form-label">Last Service Mileage</label>
                    <input type="text" class="form-control" id="txtLastServiceMileage">
                </div>

                <div class="col-md-5">
                    <label for="txtAvailabilityType" class="form-label">Availability Type</label>
                    <select id="txtAvailabilityType" class="form-select" aria-label="Default select example">
                        <option selected disabled>Select Availability Type</option>
                        <option value="1">Available</option>
                        <option value="2">Unavailable</option>
                        <option value="3">Under Maintenance</option>
                        <option value="4">Need Maintenance</option>
                    </select>
                </div>

                <!--==============================================-->

                <div id="btnGroupVehicleAddUpdateDelete" class="btn-group col-md-9 col-12" role="group"
                     aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-success">+ Add Car</button>
                    <button type="button" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary">Clear</button>
                </div>
            </form>
        </section>
    </section>

    <section class="row justify-content-center">
        <!--Manage Cars Table-->
        <section class="d-flex flex-column h-50 col-11 col-xl-12 bg-white shadow-lg align-items-center
        pt-3 mt-4">
            <h3 class="text-center bg-primary p-2 text-light rounded-3 col-12 fs-4">View Rent Status</h3>
            <div class="row h-60 col-12 col-lg-12 rounded-2 table-responsive">
                <table id="tblRentDetailsStatus" class="table table-striped table-hover rounded-5 mb-4">
                    <thead class="text-white green-hd" style="background: #17377f;">
                    <tr>
                        <th>Rent ID</th>
                        <th>Customer ID</th>
                        <th>Customer Name</th>
                        <th>NIC</th>
                        <th>Vehicle ID</th>
                        <th>Vehicle Reg No</th>
                        <th>Vehicle Name</th>
                        <th>Rent Status</th>
                        <th>Denied Reason</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>R00-001</td>
                        <td>C00-001</td>
                        <td>Nimal Perera</td>
                        <td>19981356162V</td>
                        <td>V001</td>
                        <td>AAD-5369</td>
                        <td>Suzuki-Alto</td>
                        <td>Accepted</td>
                        <td>N/A</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </section>
</main>

<script src="../assets/jquery/jquery-3.6.1.min.js"></script>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="../controller/HomeController.js"></script>

<script>
    $("#adminDashboard").css('display', 'none');
    $("#manageRentalRequests_section").css('display', 'none');

    $(".btnDeny").on('click', function () {
        const {value: email} = Swal.fire({
            title: 'Enter Your Denied Reason',
            input: 'textarea',
            inputLabel: 'Your Message',
            inputPlaceholder: 'Enter your message here',
            showCancelButton: true,
            confirmButtonText: "Send Message",
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire('Saved!', '', 'success')
            } else if (result.isCancelled) {
                Swal.fire('Changes are not saved', '', 'info')
            }
        })
    });

</script>

</body>
</html>