<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="icon" href="../assets/img/rent-02.png">
    <meta content="width=device-width initial-scale=1" name="viewport">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/fonts/css/all.min.css">
    <link rel="stylesheet" href="../assets/style/styles.css">
</head>
<body>

<script src="../assets/jquery/jquery-3.6.1.min.js"></script>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../controller/HomeController.js"></script>
</body>
</html>