<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Page</title>
    <link rel="icon" href="../assets/img/rent-02.png">
    <meta content="width=device-width initial-scale=1" name="viewport">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/fonts/css/all.min.css">
    <link rel="stylesheet" href="../assets/style/styles.css">
</head>
<body class="container-fluid">

<a href="#" id="scroll_up_btn"><i class="fa-solid fa-arrow-up"></i></a>

<!--Header-->
<header id="customerPageHeader" class="row position-relative text-black">
    <nav style="border:none!important;"
         class="navbar navbar-expand-lg bg-transparent border-bottom shadow-lg">
        <div class="container-fluid">
            <h2 id="main-h2">
                <a class="navbar-brand fw-bolder fs-2 position-relative" href="#">
                    <!--<img class="position-relative" src="../assets/img/rent-03.png">-->
                    <span id="easy" style="font-size: 36px;" class="text-success">Easy</span>
                    <span style="font-size: 23px; margin-left: -3px;">Car Rental</span></a></h2>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul id="optionList" class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li id="homeBtn" class="nav-item">
                        <a id="home-nav" class="nav-link header-nav option-nav" aria-current="page"
                           href="#dashBoardSection"><i class="fa-solid fa-house-chimney"></i>Home</a>
                    </li>
                    <li id="customerBtn" class="nav-item">
                        <a id="customer-nav" class="nav-link header-nav option-nav" href="#"><i
                                class="fa-solid fa-book"></i>My Bookings</a>
                    </li>
                    <li id="itemBtn" class="nav-item">
                        <a id="item-nav" class="nav-link header-nav option-nav" href="#"><i
                                class="fa-solid fa-circle-info"></i>Booking Status</a>
                    </li>
                </ul>

                <ul class="navbar-nav me-6 mb-2 mb-lg-0">
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-dark text-white border-light">My Profile</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!--Customer Home Page Content-->
<main id="customerPage_home" class="container-fluid">
    <section class="row justify-content-center">
        <div class="form-group col-xl-2 col-lg-5 col-md-6 col-9 mb-3">
            <label id="lblPickUpDate">PickUp Date</label>
            <input class="form-control" id="txtPickUpDate" type="date">
        </div>

        <div class="form-group col-xl-2 col-lg-5 col-md-6 col-9 mb-3">
            <label id="lblReturnDate">Return Date</label>
            <input class="form-control" id="txtReturnDate" type="date">
        </div>

        <div id="searchCarBtnDiv" class="col-xl-2 col-lg-2 col-md-3 col-3 justify-content-center">
            <button id="btnSearch" type="button" class="btn btn-primary">Search Car now
            </button>
        </div>
    </section>

    <section class="row">
        <section id="sortingSection" class="row col-xl-2 col-lg-5 col-md-6 col-9 mb-3">
            <aside class="row">
                <h1>Transmission Type</h1>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="auto" value="option1" checked>
                    <label class="form-check-label" for="auto">
                        Auto
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="manual" value="option1"
                           checked>
                    <label class="form-check-label" for="manual">
                        Manual
                    </label>
                </div>
            </aside>

            <aside class="row">
                <h1>Brand</h1>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="suzuki" value="option1"
                           checked>
                    <label class="form-check-label" for="suzuki">
                        Suzuki
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="toyota" value="option1"
                           checked>
                    <label class="form-check-label" for="toyota">
                        Toyota
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="perodua" value="option1">
                    <label class="form-check-label" for="perodua">
                        Perodua
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="mercedes" value="option1"
                           checked>
                    <label class="form-check-label" for="mercedes">
                        Mercedes
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="bmw" value="option1">
                    <label class="form-check-label" for="bmw">
                        BMW
                    </label>
                </div>
            </aside>

            <aside class="row">
                <h1>Type</h1>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="general" value="option1"
                           checked>
                    <label class="form-check-label" for="general">
                        General
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="premium" value="option1">
                    <label class="form-check-label" for="premium">
                        Premium
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="luxury" value="option1"
                           checked>
                    <label class="form-check-label" for="luxury">
                        Luxury
                    </label>
                </div>
            </aside>

            <aside class="row">
                <h1>Fuel Type</h1>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="diesel" value="option1"
                           checked>
                    <label class="form-check-label" for="diesel">
                        Diesel
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="petrol" value="option1"
                           checked>
                    <label class="form-check-label" for="petrol">
                        Petrol
                    </label>
                </div>
            </aside>

            <aside class="row">
                <div id="clearSortingBtnDiv">
                    <button id="btnClearSortings" type="button" class="btn btn-primary">Clear
                    </button>
                </div>
            </aside>
        </section>

        <!--Assignments-->
        <section id="carDetails_section" class="row col-10 position-relative justify-content-center">
            <div class="row col-3">
                <div class="svg-wrapper">
                    <svg height="100%" width="100%">
                        <rect class="shape1" height="100%" width="100%"/>
                        <rect class="shape2" height="100%" width="100%"/>
                    </svg>
                    <p class="assignments_p">Suzuki Alto - Premium</p>

                    <button id="btnCar-01" class="cars_btn">
                        Book Now
                        <a></a>
                    </button>
                </div>

                <div class="col-12">
                    <img src="/assets/img/car-06.jpg" alt="Assignment 01">
                </div>

                <div class="col-12">
                    <h2>Suzuki Alto - Premium</h2>
                </div>

                <div class="row col-12">
                    <h2 class="row col-4">
                        <i class="fa-solid fa-gas-pump"></i>
                        Petrol
                    </h2>
                    <h2 class="row col-4">
                        <i class="fa-solid fa-users"></i>
                        4
                    </h2>
                    <h2 class="row col-4">
                        <i class="fa-solid fa-gear"></i>
                        Manual
                    </h2>
                </div>

                <div class="row col-12">
                    <h2 class="row col-6">
                        <span>Rs.2500</span>
                        <span>Day</span>
                    </h2>

                    <h2 class="row col-6">
                        <span>Rs.64,350</span>
                        <span>Month</span>
                    </h2>
                </div>

            </div>

            <div class="row col-3">
                <div class="svg-wrapper">
                    <svg height="100%" width="100%">
                        <rect class="shape1" height="100%" width="100%"/>
                        <rect class="shape2" height="100%" width="100%"/>
                    </svg>
                    <p class="assignments_p">Suzuki Alto - Premium</p>

                    <button id="btnCar-02" class="cars_btn">
                        Book Now
                        <a></a>
                    </button>
                </div>

                <div class="col-12">
                    <img src="/assets/img/car-06.jpg" alt="Assignment 01">
                </div>

                <div class="col-12">
                    <h2>Suzuki Alto - Premium</h2>
                </div>

                <div class="row col-12">
                    <h2 class="row col-4">
                        <i class="fa-solid fa-gas-pump"></i>
                        Petrol
                    </h2>
                    <h2 class="row col-4">
                        <i class="fa-solid fa-users"></i>
                        4
                    </h2>
                    <h2 class="row col-4">
                        <i class="fa-solid fa-gear"></i>
                        Manual
                    </h2>
                </div>

                <div class="row col-12">
                    <h2 class="row col-6">
                        <span>Rs.2500</span>
                        <span>Day</span>
                    </h2>

                    <h2 class="row col-6">
                        <span>Rs.64,350</span>
                        <span>Month</span>
                    </h2>
                </div>

            </div>

            <div class="row col-3">
                <div class="svg-wrapper">
                    <svg height="100%" width="100%">
                        <rect class="shape1" height="100%" width="100%"/>
                        <rect class="shape2" height="100%" width="100%"/>
                    </svg>
                    <p class="assignments_p">Suzuki Alto - Premium</p>

                    <button id="btnCar-03" class="cars_btn">
                        Book Now
                        <a></a>
                    </button>
                </div>

                <div class="col-12">
                    <img src="/assets/img/car-06.jpg" alt="Assignment 01">
                </div>

                <div class="col-12">
                    <h2>Suzuki Alto - Premium</h2>
                </div>

                <div class="row col-12">
                    <h2 class="row col-4">
                        <i class="fa-solid fa-gas-pump"></i>
                        Petrol
                    </h2>
                    <h2 class="row col-4">
                        <i class="fa-solid fa-users"></i>
                        4
                    </h2>
                    <h2 class="row col-4">
                        <i class="fa-solid fa-gear"></i>
                        Manual
                    </h2>
                </div>

                <div class="row col-12">
                    <h2 class="row col-6">
                        <span>Rs.2500</span>
                        <span>Day</span>
                    </h2>

                    <h2 class="row col-6">
                        <span>Rs.64,350</span>
                        <span>Month</span>
                    </h2>
                </div>

            </div>

            <div class="row col-3">
                <div class="svg-wrapper">
                    <svg height="100%" width="100%">
                        <rect class="shape1" height="100%" width="100%"/>
                        <rect class="shape2" height="100%" width="100%"/>
                    </svg>
                    <p class="assignments_p">Suzuki Alto - Premium</p>

                    <button id="btnCar-04" class="cars_btn">
                        Book Now
                        <a></a>
                    </button>
                </div>

                <div class="col-12">
                    <img src="/assets/img/car-06.jpg" alt="Assignment 01">
                </div>

                <div class="col-12">
                    <h2>Suzuki Alto - Premium</h2>
                </div>

                <div class="row col-12">
                    <h2 class="row col-4">
                        <i class="fa-solid fa-gas-pump"></i>
                        Petrol
                    </h2>
                    <h2 class="row col-4">
                        <i class="fa-solid fa-users"></i>
                        4
                    </h2>
                    <h2 class="row col-4">
                        <i class="fa-solid fa-gear"></i>
                        Manual
                    </h2>
                </div>

                <div class="row col-12">
                    <h2 class="row col-6">
                        <span>Rs.2500</span>
                        <span>Day</span>
                    </h2>

                    <h2 class="row col-6">
                        <span>Rs.64,350</span>
                        <span>Month</span>
                    </h2>
                </div>

            </div>

            <div class="row col-3">
                <div class="svg-wrapper">
                    <svg height="100%" width="100%">
                        <rect class="shape1" height="100%" width="100%"/>
                        <rect class="shape2" height="100%" width="100%"/>
                    </svg>
                    <p class="assignments_p">Suzuki Alto - Premium</p>

                    <button id="btnCar-05" class="cars_btn">
                        Book Now
                        <a></a>
                    </button>
                </div>

                <div class="col-12">
                    <img src="/assets/img/car-06.jpg" alt="Assignment 01">
                </div>

                <div class="col-12">
                    <h2>Suzuki Alto - Premium</h2>
                </div>

                <div class="row col-12">
                    <h2 class="row col-4">
                        <i class="fa-solid fa-gas-pump"></i>
                        Petrol
                    </h2>
                    <h2 class="row col-4">
                        <i class="fa-solid fa-users"></i>
                        4
                    </h2>
                    <h2 class="row col-4">
                        <i class="fa-solid fa-gear"></i>
                        Manual
                    </h2>
                </div>

                <div class="row col-12">
                    <h2 class="row col-6">
                        <span>Rs.2500</span>
                        <span>Day</span>
                    </h2>

                    <h2 class="row col-6">
                        <span>Rs.64,350</span>
                        <span>Month</span>
                    </h2>
                </div>

            </div>

            <div class="row col-3">
                <div class="svg-wrapper">
                    <svg height="100%" width="100%">
                        <rect class="shape1" height="100%" width="100%"/>
                        <rect class="shape2" height="100%" width="100%"/>
                    </svg>
                    <p class="assignments_p">Suzuki Alto - Premium</p>

                    <button id="btnCar-06" class="cars_btn">
                        Book Now
                        <a></a>
                    </button>
                </div>

                <div class="col-12">
                    <img src="/assets/img/car-06.jpg" alt="Assignment 01">
                </div>

                <div class="col-12">
                    <h2>Suzuki Alto - Premium</h2>
                </div>

                <div class="row col-12">
                    <h2 class="row col-4">
                        <i class="fa-solid fa-gas-pump"></i>
                        Petrol
                    </h2>
                    <h2 class="row col-4">
                        <i class="fa-solid fa-users"></i>
                        4
                    </h2>
                    <h2 class="row col-4">
                        <i class="fa-solid fa-gear"></i>
                        Manual
                    </h2>
                </div>

                <div class="row col-12">
                    <h2 class="row col-6">
                        <span>Rs.2500</span>
                        <span>Day</span>
                    </h2>

                    <h2 class="row col-6">
                        <span>Rs.64,350</span>
                        <span>Month</span>
                    </h2>
                </div>

            </div>

            <div class="row col-3">
                <div class="svg-wrapper">
                    <svg height="100%" width="100%">
                        <rect class="shape1" height="100%" width="100%"/>
                        <rect class="shape2" height="100%" width="100%"/>
                    </svg>
                    <p class="assignments_p">Suzuki Alto - Premium</p>

                    <button id="btnCar-07" class="cars_btn">
                        Book Now
                        <a></a>
                    </button>
                </div>

                <div class="col-12">
                    <img src="/assets/img/car-06.jpg" alt="Assignment 01">
                </div>

                <div class="col-12">
                    <h2>Suzuki Alto - Premium</h2>
                </div>

                <div class="row col-12">
                    <h2 class="row col-4">
                        <i class="fa-solid fa-gas-pump"></i>
                        Petrol
                    </h2>
                    <h2 class="row col-4">
                        <i class="fa-solid fa-users"></i>
                        4
                    </h2>
                    <h2 class="row col-4">
                        <i class="fa-solid fa-gear"></i>
                        Manual
                    </h2>
                </div>

                <div class="row col-12">
                    <h2 class="row col-6">
                        <span>Rs.2500</span>
                        <span>Day</span>
                    </h2>

                    <h2 class="row col-6">
                        <span>Rs.64,350</span>
                        <span>Month</span>
                    </h2>
                </div>

            </div>

            <div class="row col-3">
                <div class="svg-wrapper">
                    <svg height="100%" width="100%">
                        <rect class="shape1" height="100%" width="100%"/>
                        <rect class="shape2" height="100%" width="100%"/>
                    </svg>
                    <p class="assignments_p">Suzuki Alto - Premium</p>

                    <button id="btnCar-08" class="cars_btn">
                        Book Now
                        <a></a>
                    </button>
                </div>

                <div class="col-12">
                    <img src="/assets/img/car-06.jpg" alt="Assignment 01">
                </div>

                <div class="col-12">
                    <h2>Suzuki Alto - Premium</h2>
                </div>

                <div class="row col-12">
                    <h2 class="row col-4">
                        <i class="fa-solid fa-gas-pump"></i>
                        Petrol
                    </h2>
                    <h2 class="row col-4">
                        <i class="fa-solid fa-users"></i>
                        4
                    </h2>
                    <h2 class="row col-4">
                        <i class="fa-solid fa-gear"></i>
                        Manual
                    </h2>
                </div>

                <div class="row col-12">
                    <h2 class="row col-6">
                        <span>Rs.2500</span>
                        <span>Day</span>
                    </h2>

                    <h2 class="row col-6">
                        <span>Rs.64,350</span>
                        <span>Month</span>
                    </h2>
                </div>

            </div>

            <div class="row col-3">
                <div class="svg-wrapper">
                    <svg height="100%" width="100%">
                        <rect class="shape1" height="100%" width="100%"/>
                        <rect class="shape2" height="100%" width="100%"/>
                    </svg>
                    <p class="assignments_p">Suzuki Alto - Premium</p>

                    <button id="btnCar-09" class="cars_btn">
                        Book Now
                        <a></a>
                    </button>
                </div>

                <div class="col-12">
                    <img src="/assets/img/car-06.jpg" alt="Assignment 01">
                </div>

                <div class="col-12">
                    <h2>Suzuki Alto - Premium</h2>
                </div>

                <div class="row col-12">
                    <h2 class="row col-4">
                        <i class="fa-solid fa-gas-pump"></i>
                        Petrol
                    </h2>
                    <h2 class="row col-4">
                        <i class="fa-solid fa-users"></i>
                        4
                    </h2>
                    <h2 class="row col-4">
                        <i class="fa-solid fa-gear"></i>
                        Manual
                    </h2>
                </div>

                <div class="row col-12">
                    <h2 class="row col-6">
                        <span>Rs.2500</span>
                        <span>Day</span>
                    </h2>

                    <h2 class="row col-6">
                        <span>Rs.64,350</span>
                        <span>Month</span>
                    </h2>
                </div>

            </div>

            <div class="row col-3">
                <div class="svg-wrapper">
                    <svg height="100%" width="100%">
                        <rect class="shape1" height="100%" width="100%"/>
                        <rect class="shape2" height="100%" width="100%"/>
                    </svg>
                    <p class="assignments_p">Suzuki Alto - Premium</p>

                    <button id="btnCar-10" class="cars_btn">
                        Book Now
                        <a></a>
                    </button>
                </div>

                <div class="col-12">
                    <img src="/assets/img/car-06.jpg" alt="Assignment 01">
                </div>

                <div class="col-12">
                    <h2>Suzuki Alto - Premium</h2>
                </div>

                <div class="row col-12">
                    <h2 class="row col-4">
                        <i class="fa-solid fa-gas-pump"></i>
                        Petrol
                    </h2>
                    <h2 class="row col-4">
                        <i class="fa-solid fa-users"></i>
                        4
                    </h2>
                    <h2 class="row col-4">
                        <i class="fa-solid fa-gear"></i>
                        Manual
                    </h2>
                </div>

                <div class="row col-12">
                    <h2 class="row col-6">
                        <span>Rs.2500</span>
                        <span>Day</span>
                    </h2>

                    <h2 class="row col-6">
                        <span>Rs.64,350</span>
                        <span>Month</span>
                    </h2>
                </div>

            </div>

            <div class="row col-3">
                <div class="svg-wrapper">
                    <svg height="100%" width="100%">
                        <rect class="shape1" height="100%" width="100%"/>
                        <rect class="shape2" height="100%" width="100%"/>
                    </svg>
                    <p class="assignments_p">Suzuki Alto - Premium</p>

                    <button id="btnCar-11" class="cars_btn">
                        Book Now
                        <a></a>
                    </button>
                </div>

                <div class="col-12">
                    <img src="/assets/img/car-06.jpg" alt="Assignment 01">
                </div>

                <div class="col-12">
                    <h2>Suzuki Alto - Premium</h2>
                </div>

                <div class="row col-12">
                    <h2 class="row col-4">
                        <i class="fa-solid fa-gas-pump"></i>
                        Petrol
                    </h2>
                    <h2 class="row col-4">
                        <i class="fa-solid fa-users"></i>
                        4
                    </h2>
                    <h2 class="row col-4">
                        <i class="fa-solid fa-gear"></i>
                        Manual
                    </h2>
                </div>

                <div class="row col-12">
                    <h2 class="row col-6">
                        <span>Rs.2500</span>
                        <span>Day</span>
                    </h2>

                    <h2 class="row col-6">
                        <span>Rs.64,350</span>
                        <span>Month</span>
                    </h2>
                </div>

            </div>

            <div class="row col-3">
                <div class="svg-wrapper">
                    <svg height="100%" width="100%">
                        <rect class="shape1" height="100%" width="100%"/>
                        <rect class="shape2" height="100%" width="100%"/>
                    </svg>
                    <p class="assignments_p">Suzuki Alto - Premium</p>

                    <button id="btnCar-12" class="cars_btn">
                        Book Now
                        <a></a>
                    </button>
                </div>

                <div class="col-12">
                    <img src="/assets/img/car-06.jpg" alt="Assignment 01">
                </div>

                <div class="col-12">
                    <h2>Suzuki Alto - Premium</h2>
                </div>

                <div class="row col-12">
                    <h2 class="row col-4">
                        <i class="fa-solid fa-gas-pump"></i>
                        Petrol
                    </h2>
                    <h2 class="row col-4">
                        <i class="fa-solid fa-users"></i>
                        4
                    </h2>
                    <h2 class="row col-4">
                        <i class="fa-solid fa-gear"></i>
                        Manual
                    </h2>
                </div>

                <div class="row col-12">
                    <h2 class="row col-6">
                        <span>Rs.2500</span>
                        <span>Day</span>
                    </h2>

                    <h2 class="row col-6">
                        <span>Rs.64,350</span>
                        <span>Month</span>
                    </h2>
                </div>

            </div>
        </section>
        <!--Assignments-->


    </section>
</main>

<!--Customer Bookings-->
<main id="customerPage_bookings">
    <section class="row justify-content-center">
        <div class="form-group col-xl-2 col-lg-3 col-md-6 col-9 mb-3">
            <select style="font-size: 15px;" class="form-select" aria-label="Default select example">
                <option selected value="1">Customer ID</option>
                <option value="2">Customer NIC</option>
            </select>
        </div>

        <div class="form-group col-xl-3 col-lg-3 col-md-6 col-9 mb-3">
            <input class="form-control" id="txtSearchCustomerBookings" type="search">
        </div>

        <div class="col-xl-2 col-lg-2 col-md-3 col-8 text-center justify-content-center">
            <button id="btnSearchBookings" type="button" class="btn btn-primary">Search Bookings</button>
        </div>
    </section>

    <section class="row justify-content-center">
        <!--Booking Details Table-->
        <section class="d-flex flex-column h-50 col-11 col-xl-12 bg-white shadow-lg align-items-center
        pt-3 mt-4">
            <h3 class="text-center bg-primary p-2 text-light rounded-3 col-12 fs-4">My Bookings</h3>
            <div class="row h-60 col-12 col-lg-12 rounded-2 table-responsive">
                <table id="tblBookingDetails" class="table table-striped table-hover rounded-5 mb-4">
                    <thead class="text-white green-hd" style="background: #17377f;">
                    <tr>
                        <th>Rent ID</th>
                        <th>Customer ID</th>
                        <th style="padding-bottom: 22px;">Name</th>
                        <th style="padding-bottom: 22px;">NIC</th>
                        <th>Pick Up Date</th>
                        <th>Return Date</th>
                        <th style="padding-bottom: 22px;">Location</th>
                        <th>Driver Requesting Type</th>
                        <th>Driver ID</th>
                        <th>Driver Name</th>
                        <th>Driver Contact</th>
                        <th>Vehicle ID</th>
                        <th>Vehicle Name</th>
                        <th style="padding-bottom: 22px;">Brand</th>
                        <th style="padding-bottom: 22px;">LDW Fee</th>
                        <th>Rental Fee</th>
                        <th>Driver Cost</th>
                        <th>Total Cost</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>I-001</td>
                        <td>C00-001</td>
                        <td>Nimal Perera</td>
                        <td>20011639158V</td>
                        <td>2023-02-19</td>
                        <td>2023-02-26</td>
                        <td>Galle</td>
                        <td>Yes</td>
                        <td>D00-001</td>
                        <td>Sunimal Ruwen</td>
                        <td>0770563592</td>
                        <td>V00-001</td>
                        <td>Suzuki-Alto</td>
                        <td>Suzuki</td>
                        <td>10000.00</td>
                        <td>15000.00</td>
                        <td>5000.00</td>
                        <td>30000.00</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </section>
</main>

<!--Bookings Status-->
<main id="customerPage_rentStatus">
    <section class="row justify-content-center">
        <div class="form-group col-xl-2 col-lg-3 col-md-6 col-9 mb-3">
            <select style="font-size: 15px;" class="form-select" aria-label="Default select example">
                <option selected value="2">Customer NIC</option>
            </select>
        </div>

        <div class="form-group col-xl-3 col-lg-3 col-md-6 col-9 mb-3">
            <input class="form-control" id="txtSearchCustomerRentStatus" type="search">
        </div>

        <div class="col-xl-2 col-lg-2 col-md-3 col-8 text-center justify-content-center">
            <button id="btnSearchRentStatus" type="button" class="btn btn-primary">Search Bookings</button>
        </div>
    </section>

    <section class="row justify-content-center">
        <!--Rent Status Table-->
        <section class="d-flex flex-column h-50 col-11 col-xl-12 bg-white shadow-lg align-items-center
        pt-3 mt-4">
            <h3 class="text-center bg-primary p-2 text-light rounded-3 col-12 fs-4">View Rent Statuses</h3>
            <div class="row h-60 col-12 col-lg-12 rounded-2 table-responsive">
                <table id="tblRentDetailsStatus" class="table table-striped table-hover rounded-5 mb-4">
                    <thead class="text-white green-hd" style="background: #17377f;">
                    <tr>

                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </section>
    </section>
</main>

<script src="../assets/jquery/jquery-3.6.1.min.js"></script>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../controller/HomeController.js"></script>
<script>
    $("#customerPage_home").css('display', 'none');
    $("#customerPage_bookings").css('display', 'none');
</script>
</body>
</html>