<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver Page</title>
    <link rel="icon" href="../assets/img/rent-02.png">
    <meta content="width=device-width initial-scale=1" name="viewport">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/fonts/css/all.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" id="theme-styles">
    <link rel="stylesheet" href="../assets/style/styles.css">
</head>
<body class="container-fluid">

<!--Header-->
<header id="driverPageHeader" class="row position-relative text-black">
    <nav style="border:none!important;"
         class="navbar navbar-expand-lg bg-transparent border-bottom shadow-lg">
        <div class="container-fluid">
            <h2 id="main-h2">
                <a class="navbar-brand fw-bolder fs-2 position-relative" href="#">
                    <!--<img class="position-relative" src="../assets/img/rent-03.png">-->
                    <span id="easy" style="font-size: 36px;" class="text-success">Easy</span>
                    <span style="font-size: 23px; margin-left: -3px;">Car Rental</span></a></h2>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul id="optionList" class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li id="btnDriverSchedule" class="nav-item">
                        <a id="customer-nav" class="nav-link header-nav option-nav" href="#"><i
                                class="fa-solid fa-calendar-days"></i>Driver Schedule</a>
                    </li>

                    <li id="btnDriverInformation" class="nav-item">
                        <a id="item-nav" class="nav-link header-nav option-nav" href="#"><i
                                class="fa-solid fa-circle-info"></i>Driver Information</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!--Driver Schedule-->
<main id="driverSchedule_section">
    <section class="row justify-content-start">
        <div class="col-xl-3 col-lg-4 col-md-5 col-12 justify-content-center">
            <h1 id="myProfileHeader" style="font-size: 25px;">Driver Schedule <i class="fa-solid fa-calendar-days"></i>
            </h1>
        </div>
    </section>

    <section class="row justify-content-center">
        <div class="form-group col-xl-2 col-lg-3 col-md-6 col-9 mb-3">
            <select id="cmbSelectDriver" style="font-size: 15px;" class="form-select" aria-label="Default select example">
                <option selected>Driver ID</option>
                <option>Driver NIC</option>
            </select>
        </div>

        <div class="form-group col-xl-3 col-lg-3 col-md-6 col-9 mb-3">
            <input class="form-control" id="txtSearchDriverSchedule" type="text">
        </div>

        <div class="col-xl-2 col-lg-3 mb-3 col-md-3 col-8 text-center text-sm-center text-md-center text-lg-start text-xl-start justify-content-center">
            <button id="btnSearchDriverSchedule" type="button" class="btn btn-primary">Search Schedule</button>
        </div>

        <div class="col-xl-2 col-lg-3 col-md-3 col-8 text-center text-sm-center text-md-center text-lg-start text-xl-start justify-content-center">
            <button id="btnSearchDriverClear" type="button" class="btn btn-secondary">Clear</button>
        </div>
    </section>

    <section class="row justify-content-center">
        <!--Driver Schedule Table-->
        <section class="d-flex flex-column h-50 col-11 col-xl-12 bg-white shadow-lg align-items-center
        pt-3 mt-4">
            <h3 class="text-center bg-primary p-2 text-light rounded-3 col-12 fs-4">Work Schedule</h3>
            <div class="row h-60 col-12 col-lg-12 rounded-2 table-responsive">
                <table id="tblDriverSchedule" class="table table-striped table-hover rounded-5 mb-4">
                    <thead class="text-white green-hd" style="background: #17377f;">
                    <tr>
                        <th>Driver ID</th>
                        <th>Driver Name</th>
                        <th>Rent ID</th>
                        <th>Car ID</th>
                        <th>Customer Name</th>
                        <th>Customer Email</th>
                        <th>Customer Contact No</th>
                        <th>Pick Up Date</th>
                        <th>Pick Up Time</th>
                        <th>Return Date</th>
                        <th>Return Time</th>
                        <th>Location</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>D001</td>
                        <td>Amal Perera</td>
                        <td>R00-001</td>
                        <td>V001</td>
                        <td>Ashen Kumara</td>
                        <td>ashenku87@gmail.com</td>
                        <td>077-0544792</td>
                        <td>2022-02-19</td>
                        <td>10:30 AM</td>
                        <td>2022-02-25</td>
                        <td>10:30 AM</td>
                        <td>Galle Town</td>
                    </tr>

                    <tr>
                        <td>D002</td>
                        <td>Amal Perera</td>
                        <td>R00-001</td>
                        <td>V001</td>
                        <td>Ashen Kumara</td>
                        <td>ashenku87@gmail.com</td>
                        <td>077-0544792</td>
                        <td>2022-02-19</td>
                        <td>10:30 AM</td>
                        <td>2022-02-25</td>
                        <td>10:30 AM</td>
                        <td>Galle Town</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </section>
</main>

<!--Driver Information Page-->
<main id="driverInformation_section">
    <section class="row justify-content-start">
        <div class="col-xl-4 col-lg-4 col-md-3 col-8 justify-content-center">
            <h1 id="driverInformationHeader">Driver Information <i class="fa-solid fa-address-card"></i></h1>
        </div>
    </section>

    <section class="row justify-content-center px-3">
        <form class="row g-3 shadow bg-white">
            <div class="col-md-4">
                <label for="txtDriverId" class="form-label">Driver ID</label>
                <input disabled type="text" class="form-control" id="txtDriverId">
            </div>

            <div class="col-md-4">
                <label for="txtDriverUsername" class="form-label">Username</label>
                <input disabled type="text" class="form-control" id="txtDriverUsername">
            </div>

            <div class="col-md-4">
                <label for="txtDriverPassword" class="form-label">Password</label>
                <input type="text" class="form-control" id="txtDriverPassword">
            </div>

            <div class="col-md-3">
                <label for="txtDriverName" class="form-label">Driver Name</label>
                <input type="text" class="form-control" id="txtDriverName">
            </div>

            <div class="col-md-6">
                <label for="txtDriverAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="txtDriverAddress">
            </div>

            <div class="col-md-3">
                <label for="txtDriverContact" class="form-label">Contact Number</label>
                <input type="text" class="form-control" id="txtDriverContact">
            </div>

            <div class="col-md-4">
                <label for="txtDriverNic" class="form-label">Driver NIC</label>
                <input type="text" class="form-control" id="txtDriverNic">
            </div>

            <div class="col-md-4">
                <label for="txtDriverLicenseNo" class="form-label">Driving License No</label>
                <input type="text" class="form-control" id="txtDriverLicenseNo">
            </div>

            <div class="col-md-6">
                <label for="driverLicenseImage" class="form-label d-block">Driver's License Image</label>
                <img id="driverLicenseImage" class="img-fluid">
                <input class="form-control mt-3 w-75" type="file" id="uploadDriverLicenseImage">
            </div>

            <div style="margin-top: 32px;" class="col-12">
                <button id="btnUpdateProfile" type="button" class="btn btn-primary">Update Profile</button>
            </div>
        </form>
    </section>
</main>

<script src="../assets/jquery/jquery-3.6.1.min.js"></script>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="../controller/DriverController.js"></script>
</body>
</html>