/**
 * @author : Ashan Sandeep
 * @since : 0.1.0
 **/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* Apply Poppins font family to all the html elements */
* {
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

/**::selection{
    color: white;
    background: #7461E2;
}*/

/*====================== CSS Variables ======================*/
:root {
    --font-regular: 400;
    --font-semi-bold: 600;
}

/*====================== Customized Scroll bar ======================*/
::-webkit-scrollbar {
    width: 8px;
    /*background: #A8A8A8;*/
    background: #2f2b2b;
}

::-webkit-scrollbar-thumb {
    background: #7461E2;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    background: transparent;
}

/*====================== Header Section ======================*/
header {
    /*border: 3px solid black;
    background-color: #fafaff;
    color: black;*/

    background-color: #151414;
    color: black;
    color: white !important;
}

#optionList > li > a {
    font-size: 15px;
    font-weight: 500;
}

#optionList > li > a:hover {
    color: #7461E2;
}

#main-h2 > a:first-child > img:nth-child(1) {
    /*width: 70px;
    margin-right: 1px;
    height: 70px;
    position: relative !important;
    bottom: 7px;*/

    width: 88px;
    margin-right: 1px;
    height: 73px;
    position: relative !important;
    bottom: 7px;
}

#optionList > li > a::after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background-color: #7461E2;
    border-radius: 26%;
    transition: width .3s;
}

#optionList > li > a:hover::after {
    width: 43%;
    transition: width .3s;
}

#optionList {
    padding-left: 2px;
    margin-top: 12px;
}

#optionList + ul {
    gap: 15px;
    padding-right: 3px;
}

#main-h2 span {
    position: relative;
    /*top: 1px;*/
}

#homeHeader > nav:first-child > div:first-child {
    padding-left: 15px;
}

#easy {
    margin-left: 5px;
}

header > nav {
    padding-bottom: 6px !important;
    padding-top: 6px !important;
}

.modal-header {
    background: #2626a7;
    color: white;
}

.modal-footer > button:nth-child(2) {
    width: 75px;
}

#customer-form {
    margin: 15px;
}

#item-form {
    margin: 15px;
}

#updated-btn1, #updated-btn2 {
    margin-bottom: 8px;
}

#clear-btn1, #clear-btn2 {
    margin-bottom: 8px;
}

#delete-btn1, #delete-btn2 {
    margin-bottom: 8px;
}

#main-h2 {
    margin: 0;
}

#navbarTogglerDemo02 {
    margin-top: 1px;
}

#navbarTogglerDemo02 > ul > li i {
    padding-right: 6px;
}

#navbarTogglerDemo02 > ul > li {
    margin-right: 2px;
}

#tblCustomer > tbody > tr {
    cursor: pointer;
}

#tblItem > tbody > tr {
    cursor: pointer;
}

#btnUpdateCart:hover {
    background-color: #1a71ef !important;
}

.carousel-inner > div {
    height: 636px;
}

#scroll_up_btn {
    position: fixed;
    opacity: 0.8;
    right: 23px;
    bottom: 19px;
    z-index: 996;
    background: #7461E2;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    transition: all 0.4s;
}

#scroll_up_btn:hover {
    opacity: 1.0;
    transform: translateY(-10px);
}

#scroll_up_btn > i {
    font-size: 19px;
    color: #fff;
    line-height: 0;
    position: absolute;
    right: 10px;
    top: 17px;
}

#colorDiv {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

#easy + span {
    color: white;
}

#optionList > li > a {
    color: white;
}

/* ---------------------------------------------------------------------------------------- */

/* ---------------------------------Customer Page -------------------------------- */
#customerPageHeader {
    /*height: 70px;*/
}

#customerPageHeader #optionList {
    margin-top: 12px;
}

#main-h2 {
    /*margin-bottom: 4px;*/
}

#customerPageHeader #optionList + ul {
    padding-right: 12px;
}

.navbar-toggler {
    background-color: white;
}

#customerPage_home > section:first-child {
    padding-top: 22px;
}

#sortingSection > aside > h1 {
    width: max-content;
    height: max-content;
    font-size: 16px;
}

#sortingSection > aside > div:nth-child(2) {
    padding-bottom: 5px;
}

#sortingSection {
    gap: 25px;
    height: 590px;
}

#sortingSection > aside:nth-child(2) > div:nth-child(2), #sortingSection > aside:nth-child(2) > div:nth-child(3), #sortingSection > aside:nth-child(2) > div:nth-child(4), #sortingSection > aside:nth-child(2) > div:nth-child(5) {
    padding-bottom: 5px;
}

#sortingSection > aside:nth-child(3) > div:nth-child(2), #sortingSection > aside:nth-child(3) > div:nth-child(3) {
    padding-bottom: 5px;
}

#sortingSection > aside:nth-child(4) > div:nth-child(1) {
    padding-bottom: 5px;
}

#sortingSection > aside:nth-child(5) {
    row-gap: 15px;
}

#sortingSection > aside {
    padding-left: 22px;
}

#searchCarBtnDiv {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start !important;
    padding-top: 7px;
}

#btnSearch {
    font-size: 14px;
}

#lblPickUpDate, #lblReturnDate {
    font-size: 14.5px;
    margin-bottom: 3px;
}

#btnClearSortings {
    width: 95px;
}

/* ------------------------------------------------------------------------------ */

/*====================== Assignments Section ======================*/

#carDetails_section > div {
    position: relative;
    /*display: flex;
    gap: 24px;
    align-items: center;
    flex-direction: column;*/
    background: #efeffc;
    /*width: 380px;*/
    height: 405px;
    box-shadow: -23px -23px 45px #ffffff, 28px 28px 50px rgba(13, 39, 80, 0.16);
    border-radius: 25px;
    transition: all 0.8s ease;
}

#carDetails_section > div > h2 {
    margin-top: 43px;
    font-size: 21px;
}

#carDetails_section > div > img {
    border: 1px solid;
    width: 88%;
    height: 165px;
}

#carDetails_section > div:hover {
    transition: all 0.8s ease;
    transform: scale(0.97);
    box-shadow: 1px 1px 54px 1px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    /* background: #f1f1fb; */
    background: #7461E2;
}

#btnCar-01 > a, #btnCar-01 > a, #btnCar-01 > a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-radius: 0.5rem;
}

#carDetails_section > div:hover > h2 {
    transition: all 0.8s ease;
    color: white;
}

#carDetails_section > div:hover .svg-wrapper {
    visibility: visible;
    transition: all .6s;
}

#carDetails_section > div:hover .shape1, #carDetails_section > div:hover .shape2 {
    stroke-dashoffset: 0;
    stroke-dasharray: 1120;
}

.assignments_p {
    text-align: center;
    font-weight: 400;
}

#carDetails_section > div > div > p {
    position: absolute;
    top: 28px;
    right: 0;
    left: 0;
    bottom: 0;
    height: max-content;
    /* margin: auto; */
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

#carDetails_section > div:hover .assignments_p {
    visibility: visible;
    transition: all .6s;
}

#carDetails_section > div:hover .cars_btn {
    visibility: visible;
    transition: all .6s;
}

#carDetails_section > div > div > button {
    position: absolute;
    top: 156px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    color: black;
    text-align: center;
    font-weight: 500;
    border-radius: 0.5rem;
    background-color: gold;
    height: 44px;
    transition: all .6s;
    cursor: pointer;
    width: 125px;
    border: 3px solid gold;
    font-size: 15px;
}

#carDetails_section > div > div > button:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .5s;
    animation: clippath .8s 1 linear;
}

@keyframes clippath {
    0%, 100% {
        clip-path: inset(0 0 95% 0);
    }

    25% {
        clip-path: inset(0 95% 0 0);
        border: 3px solid #6b57d7;
    }
    50% {
        clip-path: inset(95% 0 0 0);
        border: 3px solid #6b57d7;
    }
    75% {
        clip-path: inset(0 0 0 95%);
        border: 3px solid #6b57d7;
    }
}

.svg-wrapper {
    position: absolute;
    top: 52px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 265px;
    height: 275px;
    transition: all 2s;
    /* background: #00000080; */
    background: #00000094;
}

#carDetails_section > div:hover .shape1, #carDetails_section > div:hover .shape2 {
    stroke-dashoffset: 0;
    stroke-dasharray: 1120;
}

.svg-wrapper, .assignments_p, .cars_btn {
    visibility: hidden;
    transition: visibility .6s;
}

.shape1 {
    stroke-dashoffset: 1120;
}

.shape1, .shape2 {
    stroke-dasharray: 1120;
    stroke-width: 13px;
    fill: transparent;
    /* stroke: #19f6e8; */
    /* stroke: #7461e2; */
    stroke: #edf1fa;
    border-bottom: 5px solid black;
    transition-timing-function: linear;
    transition: stroke-dashoffset 2.5s, stroke-dasharray 2.5s;
}

#carDetails_section > div:hover .cars_btn {
    visibility: visible;
    transition: all .6s;
}

.shape1 {
    stroke-dashoffset: 1120;
}

#carDetails_section {
    gap: 55px;
    padding-top: 25px;
    padding-bottom: 45px;
}

#carDetails_section > div {
    justify-content: center;
    padding: 0;
}

#carDetails_section > div > div:nth-child(2) {
    padding: 0;
}

#carDetails_section > div > div:nth-child(2) > img {
    width: 100%;
    height: 180px;
    /* background-position: center; */
    /* background-size: cover; */
    object-fit: cover;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

#carDetails_section > div > div:nth-child(3) {
    text-align: center;
}

#carDetails_section > div > div:nth-child(3) > h2 {
    font-size: 18px;
}

#carDetails_section > div > div:nth-child(4) {
    text-align: center;
    justify-content: space-evenly;
}

#carDetails_section > div > div:nth-child(4) > h2 {
    font-size: 15px;
    justify-content: center;
}

#carDetails_section > div > div:nth-child(5) {
    padding-top: 20px;
    text-align: center;
    font-size: 15px;
    justify-content: center;
}

#carDetails_section > div > div:nth-child(5) > h2 {
    font-size: 15px;
    justify-content: center;
    gap: 0;
}

#carDetails_section > div > div:nth-child(5) > h2 > span {
    width: max-content;
    height: max-content;
}

#carDetails_section > div > div:nth-child(5) > h2 > span:nth-child(2) {
    position: relative;
    bottom: 6px;
}

#sortingSection {
    padding-left: 18px;
}

/* ------------------------------------ Booking --------------------------------------*/
#carImagesCarousel .carousel-inner > div {
    height: max-content;
}

#carImagesCarousel .carousel-inner img {
    height: 310px;
}

#carImagesCarousel .carousel-inner .carousel-item {
    height: 310px;
}

#carImagesCarousel .carousel-inner > .carousel-item > img {
    margin: auto;
}

#carImagesCarousel .carousel-inner > .carousel-item:nth-child(2) > img {
    height: 210px;
    width: 380px !important;
}

#carImagesCarousel .carousel-inner > .carousel-item:nth-child(1) > img {
    height: 280px;
    width: 500px !important;
}

#carImagesCarousel .carousel-inner > .carousel-item:nth-child(3) > img {
    height: 238px;
    width: 370px !important;
    object-fit: cover;
}

#carImagesCarousel .carousel-inner > .carousel-item:nth-child(4) > img {
    width: 379px !important;
    height: 266px;
}

#carImagesAside {
    background-color: black;
}

#car_brand {
    font-size: 22px;
}

#carDetailsAside > h2 {
    font-size: 16px;
}

#car_brand {
    height: max-content;
    width: max-content;
    margin-top: 15px;
}

#carDetailsAside {
    padding: 6px 0 28px 0;
    border-radius: 16px;
}

#carBookingMain > section:first-child > section:nth-child(2) > section:first-child {
    height: 300px !important;
    border-radius: 20px;
}

#carBookingMain > section:first-child > section:nth-child(2) > section:first-child > h3 {
    font-size: 19px !important;
}

#tblCarDetails {
    font-size: 14px;
}

#tblCarDetails > thead > tr:first-child {
    font-size: 13px;
}

#tblCarDetails > thead > tr:first-child > th {
    text-align: center;
    padding: 0 0 16px;
}

#tblCarDetails > thead > tr:first-child > th:nth-child(5), #tblCarDetails > thead > tr:first-child > th:nth-child(6), #tblCarDetails > thead > tr:first-child > th:nth-child(7), #tblCarDetails > thead > tr:first-child > th:nth-child(8), #tblCarDetails > thead > tr:first-child > th:nth-child(9), #tblCarDetails > thead > tr:first-child > th:nth-child(10) {
    padding: 0 0 8px;
}

#tblCarDetails > thead {
    height: 55px;
}

#regNo {
    width: 90px;
}

tbody {
    text-align: center;
}

#carBookingMain > section:first-child {
    padding-top: 16px;
    gap: 15px;
}

#carBookingMain > section:nth-child(2) {
    /*padding-top: 16px;
    margin-top: 22px;*/
}

#carBookingMain > section:first-child > section:first-child {
    gap: 45px;
}

#customerDetailsHeader, #rentDetailsHeader {
    font-size: 19px !important;
}

#customerDetailsSection {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    height: max-content;
}

#customerDetailsSection, #rentDetailsSection {
    font-size: 14px;
}

#customerDetailsSection input {
    font-size: 14px;
}

#btnClearCusData {
    font-size: 14px;
    margin-top: 16px;
}

#carBookingMain > section:nth-child(2) {
    justify-content: space-evenly;
    align-items: flex-start;
}

#btnSubmitRent, #btnCancelRent {
    width: max-content;
    height: max-content;
    font-weight: bold;
    padding: 10px;
    font-size: 14px;
}

#btnCancelRent {
    padding-left: 13px;
    padding-right: 13px;
}

#driverAcceptanceField {
    margin-right: 3px;
}

#carBookingMain {
    padding-bottom: 33px;
}

#carBookingMain > section:nth-child(2) {
    padding-bottom: 30px;
    border-radius: 15px;
}

#carImagesCarousel {
    top: 52px;
}

#carBookingPageHeader #easy{
    top: -1px;
}